.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .header .Main_title p {
    font-size: 55px;
    color: #807f7f;
    font-weight: 900;
    text-align: right; }
  .header .transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .transfer .btn_tran,
    .header .transfer .a_tran {
      cursor: pointer;
      font-size: 35px;
      color: #c9c9c9;
      margin: 0 7px; }
    .header .transfer .btn_tran {
      background-color: transparent;
      outline: none;
      border: none;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.sp_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0; }
  .sp_header .Main_title p {
    color: #fff; }

body {
  background-color: #efefef !important; }

.color {
  color: #727272 !important; }

.card-img-top {
  position: absolute !important;
  bottom: -10px !important;
  left: 0px !important;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.swiper-container {
  width: 100%;
  height: 100%;
  background: transparent; }

#slider {
  height: 300px !important;
  width: 95% !important;
  margin: 10px 2.5% !important; }
  #slider .card-img-top {
    position: absolute !important;
    bottom: -15px !important;
    left: 10px !important;
    width: 300px;
    height: 185px; }
    @media (max-width: 992px) {
      #slider .card-img-top {
        bottom: -12px !important;
        left: -14px !important;
        width: 210px;
        height: 140px; } }

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px; }

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  background-size: cover;
  background-position: center; }

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300; }

.swiper-slide .subtitle {
  font-size: 21px; }

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "cairo", sans-serif;
  overflow-x: hidden !important; }

ul, ol {
  padding: 0; }

a {
  text-decoration: none; }

.btn {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 500;
  font-size: 18;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    background-color: #189c95; }

.btn_info {
  background-color: #713c97;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 567px) {
    .btn_info {
      margin-top: 25px; } }
  .btn_info:hover {
    background-color: #44265a; }

.btn_footer {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 700;
  font-size: 19;
  width: 180px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn_footer:hover {
    background-color: #189c95; }

.cart_btn {
  background-color: #713c97;
  font-weight: 500;
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .cart_btn:hover {
    background-color: #44265a; }
  .cart_btn a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px; }
    .cart_btn a .fas {
      font-size: 12px;
      margin: auto 0; }

.buy_button {
  width: 60%;
  margin: 10px auto;
  background-color: #713c97;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  line-height: 50px; }
  .buy_button:hover {
    background-color: #44265a; }

.btn_copon {
  width: 25%;
  margin: 0 10px 0 0;
  background-color: #79c443;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_copon:hover {
    background-color: #67a739; }
  .btn_copon a {
    color: #fff; }

.btn_Dach {
  float: left;
  width: 135px;
  margin: 0 10px 0 0;
  background-color: crimson;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_Dach:hover {
    background-color: #ab0a28; }
  .btn_Dach i {
    padding: 5px 8px 5px 0;
    margin: 0 5px 0 0;
    font-size: 15px;
    border-right: 1px #fff solid; }

.btn {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 500;
  font-size: 18;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    background-color: #189c95; }

.btn_info {
  background-color: #713c97;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 567px) {
    .btn_info {
      margin-top: 25px; } }
  .btn_info:hover {
    background-color: #44265a; }

.btn_footer {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 700;
  font-size: 19;
  width: 180px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn_footer:hover {
    background-color: #189c95; }

.cart_btn {
  background-color: #713c97;
  font-weight: 500;
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .cart_btn:hover {
    background-color: #44265a; }
  .cart_btn a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px; }
    .cart_btn a .fas {
      font-size: 12px;
      margin: auto 0; }

.buy_button {
  width: 60%;
  margin: 10px auto;
  background-color: #713c97;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  line-height: 50px; }
  .buy_button:hover {
    background-color: #44265a; }

.btn_copon {
  width: 25%;
  margin: 0 10px 0 0;
  background-color: #79c443;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_copon:hover {
    background-color: #67a739; }
  .btn_copon a {
    color: #fff; }

.btn_Dach {
  float: left;
  width: 135px;
  margin: 0 10px 0 0;
  background-color: crimson;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_Dach:hover {
    background-color: #ab0a28; }
  .btn_Dach i {
    padding: 5px 8px 5px 0;
    margin: 0 5px 0 0;
    font-size: 15px;
    border-right: 1px #fff solid; }
