.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .header .Main_title p {
    font-size: 55px;
    color: #807f7f;
    font-weight: 900;
    text-align: right; }
  .header .transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .transfer .btn_tran,
    .header .transfer .a_tran {
      cursor: pointer;
      font-size: 35px;
      color: #c9c9c9;
      margin: 0 7px; }
    .header .transfer .btn_tran {
      background-color: transparent;
      outline: none;
      border: none;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }

.sp_header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0; }
  .sp_header .Main_title p {
    color: #fff; }

body {
  background-color: #efefef !important; }

.color {
  color: #727272 !important; }

#slider {
  width: 90%;
  margin: 10px 5%;
  height: 300px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "cairo", sans-serif; }

ul, ol {
  padding: 0; }

a {
  text-decoration: none; }

.btn {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 500;
  font-size: 18;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    background-color: #189c95; }

.btn_info {
  background-color: #713c97;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 567px) {
    .btn_info {
      margin-top: 25px; } }
  .btn_info:hover {
    background-color: #44265a; }

.btn_footer {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 700;
  font-size: 19;
  width: 180px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn_footer:hover {
    background-color: #189c95; }

.cart_btn {
  background-color: #713c97;
  font-weight: 500;
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .cart_btn:hover {
    background-color: #44265a; }
  .cart_btn a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px; }
    .cart_btn a .fas {
      font-size: 12px;
      margin: auto 0; }

.buy_button {
  width: 60%;
  margin: 10px auto;
  background-color: #713c97;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  line-height: 50px; }
  .buy_button:hover {
    background-color: #44265a; }

.btn_copon {
  width: 25%;
  margin: 0 10px 0 0;
  background-color: #79c443;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_copon:hover {
    background-color: #67a739; }
  .btn_copon a {
    color: #fff; }

.btn_Dach {
  float: left;
  width: 135px;
  margin: 0 10px 0 0;
  background-color: crimson;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_Dach:hover {
    background-color: #ab0a28; }
  .btn_Dach i {
    padding: 5px 8px 5px 0;
    margin: 0 5px 0 0;
    font-size: 15px;
    border-right: 1px #fff solid; }

.bg_img {
  width: 100%;
  background-color: #2e2525; }

.like {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .like i {
    color: #fff; }

.info_txt {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right; }
  .info_txt p {
    margin: 5px 0;
    color: #fff;
    font-size: 22px; }

.Details .title_product {
  font-size: 25px;
  text-align: right;
  margin: 5px 0;
  border-bottom: 1px solid #000; }

.Details .decribtions {
  text-align: right;
  font-size: 22px;
  color: #c9c9c9; }

.Details .size_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .Details .size_product span {
    border: 1px solid #000;
    padding: 15px;
    font-size: 30px;
    margin: 0 5px;
    border-radius: 5px;
    color: #c9c9c9; }
  .Details .size_product span:nth-child(1) {
    padding: 0px;
    border: none;
    color: #000;
    font-size: 45px;
    margin-left: 15px; }

.Details .color_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .Details .color_product span {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 5px; }
  .Details .color_product span:nth-child(1) {
    width: auto;
    margin-left: 40px;
    height: auto;
    font-size: 45px; }
  .Details .color_product span:nth-child(2) {
    background-color: crimson; }
  .Details .color_product span:nth-child(3) {
    background-color: lime; }
  .Details .color_product span:nth-child(4) {
    background-color: yellow; }
  .Details .color_product span:nth-child(5) {
    background-color: brown; }

.slider_pro .big-img {
  width: 300px;
  height: 300px;
  margin: auto; }
  .slider_pro .big-img img {
    width: 100%;
    height: 100%; }

.slider_pro .smaller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 80%; }
  .slider_pro .smaller .mySlider {
    background-color: gray;
    border-radius: 15px;
    padding: 10px;
    width: 85px;
    height: 85px; }

.btn_add {
  position: absolute;
  bottom: 0;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #d60b52; }
  .btn_add:hover {
    background-color: #b80946; }

.btn {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 500;
  font-size: 18;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    background-color: #189c95; }

.btn_info {
  background-color: #713c97;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  width: 200px;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 567px) {
    .btn_info {
      margin-top: 25px; } }
  .btn_info:hover {
    background-color: #44265a; }

.btn_footer {
  background-color: #1ebab1;
  color: #fff;
  font-weight: 700;
  font-size: 19;
  width: 180px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn_footer:hover {
    background-color: #189c95; }

.cart_btn {
  background-color: #713c97;
  font-weight: 500;
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .cart_btn:hover {
    background-color: #44265a; }
  .cart_btn a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px; }
    .cart_btn a .fas {
      font-size: 12px;
      margin: auto 0; }

.buy_button {
  width: 60%;
  margin: 10px auto;
  background-color: #713c97;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  line-height: 50px; }
  .buy_button:hover {
    background-color: #44265a; }

.btn_copon {
  width: 25%;
  margin: 0 10px 0 0;
  background-color: #79c443;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_copon:hover {
    background-color: #67a739; }
  .btn_copon a {
    color: #fff; }

.btn_Dach {
  float: left;
  width: 135px;
  margin: 0 10px 0 0;
  background-color: crimson;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .btn_Dach:hover {
    background-color: #ab0a28; }
  .btn_Dach i {
    padding: 5px 8px 5px 0;
    margin: 0 5px 0 0;
    font-size: 15px;
    border-right: 1px #fff solid; }
